@using KLoggy.Web.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <title>Hello World...</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
</head>
<body>
    <div class="col-md-8" ng-app="mainApp">
        <hr />
    </div>
    <div class="col-md-4">
        <hr />
        
        @await Component.InvokeAsync("Badges")
    </div>
</body>
</html>