@using KLoggy.Web.Infrastructure

<!DOCTYPE html>
<html>
<head>
    <title>Hello World...</title>
    @await Component.InvokeAsync("Assets", "styles")
    @await Component.InvokeAsync("Assets", "scripts")
</head>
<body>
    <div class="col-md-8" ng-app="mainApp">
        <hr />
        @Assets.GetThing()
    </div>
    <div class="col-md-4">
        <hr />
        
        @await Component.InvokeAsync("Badges")
    </div>
</body>
</html>